{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container text-center">

	<h1>Shopping Cart</h1>

	{% if cart_items %}

	{% for item in cart_items %}
	<div class="row justify-content-center bg-white cart-item game-section mt-5">

		<div class="col-12 col-lg-3">
            <!-- Clicking here should return to the details page -->
			{% if item.game.image %}
			<img class="img-fluid" src="{{ item.game.image.url }}" alt="{{ item.game.name }}">
            {% else %}
			<img class="img-fluid" src="/media/misc/no_image.jpg" alt="{{ item.game.name }}">
            {% endif %}
        </div>

        <div class="col-12 col-lg-6">
			<h4>{{ item.game.name }}</h4>
            <p class="lgray-text">{{ item.game.sku }}</p>
		</div>

        <div class="col-4 col-lg-1">
            <p>Quantity:</p>
            <p>{{ item.quantity }}</p>
        </div>

        <div class="col-4 col-lg-1">
            <!-- Use the actual subtotal here -->
            <p>Subtotal:</p>
            <p class="price">€{{ item.game.price }}</p>
        </div>

        <div class="col-4 col-lg-1">
            <p>Remove:</p>
            <a type="button" class="btn btn-danger btn-rounded btn-remove" href="{% url 'remove_cart_item' item.item_id %}"><i data-feather="trash-2"></i></a>
        </div>
    </div>

    {% endfor %}
    <div>
        <div>
            <h5 class="mt-4">Total: €{{ total|floatformat:2 }}</h5>
            <h5>Shipping: 
            {% if delivery > 0 %}
            €{{ delivery|floatformat:2 }}
            {% else %}
            FREE
            {% endif %}
            </h5>
            <h4 class="mt-4">
                <strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong>
            </h4>
            {% if free_delivery_delta > 0 %}
            <p class="mb-1  d-inline">
                Buy more
                <p class="price">€{{ free_delivery_delta }}</p>
                to get free shipping!
            </p>
            {% endif %}
        </div>
    </div>

    <div>
        <a href="" type="button" id="checkout" class="btn btn-success btn-rounded btn-lg px-4">Checkout</a>
    </div>


	{% else %}
	<p class="mb-5">Your cart is empty, sad and lonely :(</p>
	<a href="{% url 'games'%}" type="button" id="viewAllGames" class="btn btn-success btn-rounded btn-lg px-4">View
		All Games</a>
	{% endif %}

</div>

{% endblock %}