/* --------- Google Fonts --------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sriracha&display=swap');

body { font-family: 'Roboto', sans-serif; }
h1 { font-family: 'Sriracha', cursive; }

/* --------- Color Palette -------- */

.text-blue { color: #1F96F4; }
.bg-blue { background-color: #1F96F4 }

.text-gold { color: #FFD700; }
.bg-gold { background-color: #FFD700; }

.text-dgray { color: #999; }
.bg-dgray { background-color: #999; }

.text-lgray { color: #E5E5E5; }
.bg-lgray { background-color: #E5E5E5; }

/* -------- Bootstrap Grid -------- */

/* ------------ Buttons ----------- */

/* Increases the thickness of feather icons */
.feather { stroke-width: 2.5; }

.btn { color: #fff; }

.btn-rounded {
    /* font-size: 22px; */
    font-weight: 500;
    border-radius: 50px;
    margin-bottom: 3em;
}

.btn-cart-item {
    width: 39px;
    height: 39px;
}

.btn-cart-item .feather {
    position: relative; 
    right: 5px;
}

/* -------- Toast Messages -------- */

.toast-container {
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 3;
}

/* ------------ Navbar ------------ */

nav {
    height: 60px;
    z-index: 2;
}

nav a { 
    color: #fff !important;
    font-weight: 500;
}

nav a:hover {
    color: #FFD700 !important;
    transition: all 0.4s ease 0s;
    background-color: transparent !important;
}

.navbar-toggler {
    border: solid 2px #8FCBFA !important;
}

nav li {
    margin: 1em 1em 0 !important;    
}

/* ---------- All Pages ----------- */

body {
    background-color: #E5E5E5;
}

main {
    padding-top: 60px;
    min-height: calc(100vh - 120px);
}

/* Applied to game cards, game details and cart items*/
.game-section {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
}

.price {
    color: #1F96F4; 
    font-size: 16px;
    font-weight: 500;
}

/* ----------- Home Page ---------- */

.carousel-item {
    height: 67vh;
}

.carousel-item img {
    height: 100%;
    background-position: center 50%;
    object-fit: cover;
}

/* ---------- Game Cards ---------- */

.card-header {
    background-color: #fff;
    border-radius: 10px !important;
    border: none !important;
}

.card-title {
    color: #000;
}

.card a:link {
  text-decoration: none;
}

/* --------- Details Page --------- */


.input-qty {
    width: 50px;
}

#addToCart {
    width: 100%;
}

/* ------------- Cart ------------- */

.cart-item {
    display: flex;
    align-items: center;
    padding: 1em;
}

.cart-item img {
    width: 70%;
    height: 70%;
}


.h-80px {
    height: 80px;
}

/* ----------- Checkout ----------- */

#creditCard {
    background-color: #fff;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    padding: 1em;
}

.checkout-buttons .feather {
    position: relative; 
    bottom: 2px;
}

/* ------------ Footer ------------ */

footer { 
    height: 60px;
}

/* --------- Media Queries -------- */

/* Large devices */
@media (min-width: 992px) { 

    nav li {
        margin: 0 0 0 1em !important; 
    }
}