/* --------- Google Fonts --------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sriracha&display=swap');

body { font-family: 'Roboto', sans-serif; }
h1 { font-family: 'Sriracha', cursive; }

/* --------- Color Palette -------- */

.text-blue { color: #1F96F4; }
.bg-blue { background-color: #1F96F4 }

.text-gold { color: #FFD700; }
.bg-gold { background-color: #FFD700; }

.text-dgray { color: #999; }
.bg-dgray { background-color: #999; }

.text-lgray { color: #E5E5E5; }
.bg-lgray { background-color: #E5E5E5; }

/* -------- Bootstrap Grid -------- */

/* ------------ Buttons ----------- */

/* Increases the thickness of feather icons */
.feather { stroke-width: 2.5; }

.btn { color: #fff; }

.btn-rounded {
    font-weight: 500;
    border-radius: 50px;
}

.btn-remove {
    width: 39px;
    height: 39px;
}

.btn-remove .feather {
    position: relative; 
    right: 5px;
}

/* ------------ Navbar ------------ */

nav {
    height: 60px;
    z-index: 1;
}

nav a { 
    color: #fff !important;
    font-weight: 500;
}

nav a:hover {
    color: #FFD700 !important;
    transition: all 0.4s ease 0s;
    background-color: transparent !important;
}

.navbar-toggler {
    border: solid 2px #8FCBFA !important;
}

nav li {
    margin: 1em 1em 0 !important;    
}

/* ----------- Home Page ---------- */

/* ---------- Games Page ---------- */

.card-body {
    display: flex;
}

.card-body>p{
    text-align: center;
    width: 50%;
}

/* --------- Details Page --------- */

.details-card {
    display: flex;
}

.details-card>div{
    width: 50%;
}

/* ------------- Cart ------------- */

.cart-element {
    display: flex;
    align-items: center;
    padding: 1em;
}

.cart-element img {
    width: 70%;
    height: 70%;
}

/* ------------ Footer ------------ */

/* --------- Media Queries -------- */

/* Large devices */
@media (min-width: 992px) { 

    nav li {
        margin: 0 0 0 1em !important; 
    }
}