{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
	<h1 class="overflow-hidden">{{user_name}}'s Personal Information</h1>
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			<a href="{% url 'order_history' %}" class="btn btn-primary btn-lg btn-rounded bg-blue border-0 mb-4 w-100">Go to Order History</a>
			<form class="" action="{% url 'account' %}" method="POST" id="account-update-form">

                <!-- Forms -->
				{% csrf_token %}
				{{ form|crispy }}

				<!-- Buttons -->
				<div class="checkout-buttons d-flex mt-5 mb-2 overflow-hidden">
					<a href="{% url 'account' %}" class="btn btn-secondary btn-lg btn-rounded w-50 mx-3">Cancel</a>
					<button id="saveButton" class="btn btn-success btn-lg btn-rounded w-50 mx-3">Save</button>
				</div>

			</form>
		</div>
	</div>
</div>
{% endblock %}