{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
	<h1>Add Game to Inventory</h1>
	<form action="POST" action="{% url 'add_game' %}" enctype="multipart/form-data">
		{% csrf_token %}
		
        
        {{ game_form | crispy }}

        <p>Included item</p>
        {{ included_form | crispy }}

		<!-- Buttons -->
		<div class="checkout-buttons d-flex mt-5 mb-2 overflow-hidden">
			<a href="{% url 'games' %}" class="btn btn-secondary btn-lg btn-rounded w-50 mx-3">Cancel</a>
			<button id="saveButton" class="btn btn-success btn-lg btn-rounded w-50 mx-3">Save</button>
		</div>
</div>

</form>

{% endblock %}