{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Selected Category or Search Term-->
    {% if categories %}
        {% for i in categories %}
            <h1 class="page-header">{{ i.display_name }}</h1>
        {% endfor %}
    {% elif search_term %}
        <h1 class="page-header">Results for: {{ search_term }}</h1>
        {% else %}
    <h1 class="page-header">All Games</h1>
    {% endif %}

    <!-- Game Cards -->
    {% include 'includes/game_cards.html' %}
{% endblock %}