<div class="container">
	<div class="row justify-content-center">

		<!-- Iterare through the games and display each one of them inside a bootstrap card -->
		{% for game in games %}
		<div class="col col-12 col-sm-6 col-lg-4 my-3">
			<section class="card">
				<div class="card-header">
                    {% if game.image %}
					<a href="{% url 'game_details' game.pk %}">
						<img class="img-fluid" src="{{ game.image.url }}" alt="{{ game.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'game_details' game.pk %}">
						<img class="img-fluid" src="/media/misc/no_image.jpg" alt="{{ game.name }}">
                    </a>                   
                    {% endif %}
					<p class="card-title text-center">{{ game.name }}</p>
				</div>
				<div class="card-body">
					<p>⭐⭐⭐⭐⭐</p>
					<p class="text-blue">€ {{ game.price }}</p>
				</div>
			</section>
		</div>
		{% endfor %}
        
	</div>
</div>