<div class="container">
	<div class="row justify-content-center">

		<!-- Iterare through the games and display each one of them inside a bootstrap card -->
		{% for game in games %}
		<div class="col col-12 col-sm-6 col-lg-4 my-3">
			<section class="card">
				<a href="{% url 'game_details' game.pk %}">
					<div class="card-header">
						{% if game.image %}
						<img class="img-fluid" src="{{ game.image.url }}" alt="{{ game.name }}">
                        {% else %}
						<img class="img-fluid" src="/media/misc/no_image.jpg" alt="{{ game.name }}">
                        {% endif %}
					</div>
					<div class="card-body">
                        <h5 class="card-title text-center">{{ game.name }}</h5>
                        <div class="d-flex text-center">
                            <p class="w-50">⭐⭐⭐⭐⭐</p>
                            <p class="text-blue w-50">€ {{ game.price }}</p>
                        </div>
					</div>
				</a>
			</section>
		</div>
		{% endfor %}

	</div>
</div>